/* This is the mobile layout. */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
  }

  .terminal-wrapper {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 20px;
    background-color: #1e1e1e;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    overflow-x: auto !important;
  }

  .terminal-wrapper input,
  .terminal-wrapper textarea {
    font-size: 16px !important;
    padding: 10px;
  }

  #terminal {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #terminal .xterm,
  #terminal .xterm-viewport,
  #terminal .xterm-screen {
    background-color: #1e1e1e !important;
  }
}

/* This is the desktop layout. */
@media screen and (min-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
  }

  .terminal-wrapper {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background-color: #1e1e1e;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  #terminal {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #terminal .xterm,
  #terminal .xterm-viewport,
  #terminal .xterm-screen {
    background-color: #1e1e1e !important;
  }
}
